<html>
<head>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style type="text/css">
		ul {
  			list-style-type: none;
		}

	</style>
</head>
<body>
<br>
<br>
<div class="container">

<!-- Show Errors -->
	{% if form.errors %}
	  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	      {% for error in field_errors %}

	          <div class="alert alert-danger">
	            {{ form[field_name].label }}: {{ error }}
	          </div>
	      {% endfor %}
	  {% endfor %}
	{% endif %}


	<div class='row'>
		<div class='col-md-6'>
			<h1>Step 1 - Fill Out Your Details</h1>
			<small><a href='/'>go back</a></small>
			<hr>

		
			<form action="/step1" method="POST">

				<h3>Basic Information</h3>
				<div class="form-group">
					{{ form.name.label() }}
					{{ form.name(class="form-control") }}
				</div>

				<div class="form-group">
					{{ form.email.label }}
					{{ form.email(class="form-control") }}
				</div>

				<div class="form-group">
					{{ form.phone.label }}
					{{ form.phone(class="form-control") }}
				</div>

				<div class="form-group">
					{{ form.community.label }}
					{{ form.community(class="form-control") }}
				</div>

				<div class="form-group">
					{{ form.days.label }}
					{{ form.days }}
				</div>

				<h3>Dietary Information</h3>

				<div class='form-group'>
				{{ form.dietary.label }}
				{{ form.dietary }}
				</div>

				<div class='form-group'>
				Other Food Restrictions: {{ form.dietary_other(class='form-control') }}
				</div>
				
				<div class='form-group'>
				Life-Threatening Allergies: {{ form.food_allergies(class='form-control') }}
				</div>
				
				<h3>Attendee Information</h3>

				<div class='form-group'>
					Number of Adults Attending (15+):
					{{form.number_of_adults(class="form-control", value=1)}}
					Names:
					{{form.names_of_adults(class="form-control")}}
				</div>

				<div class='form-group'>
					Number of Junior Youth / Children Attending (4 to 14):
					{{form.number_of_jy(class="form-control", value=0)}}
					Names:
					{{form.names_of_jy(class="form-control")}}
				</div>

				<div class='form-group'>
					Number of Toddlers Attending (2 to 3):
					{{form.number_of_children(class="form-control", value=0)}}
					Names:
					{{form.names_of_children(class="form-control")}}

				</div>



		  		{{ form.csrf_token }}
		  		
		  		<hr>

		  		<button class='btn btn-primary' type='submit'>Submit</button>

			</form>

		</div>
		<div class='col-md-6'>
			<BR><BR>
			<img src='/static/bosch2.jpg' width=100%></img>

		</div>
	</div>
</div>

</body>

</html>
