<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<br>
<br>
<div class="container">

	<div class='row'>
		<div class='col-md-6'>
			<h1>Step 2 - Payment </h1>
			<hr>
			<p>
				The cost is approximately $160 per person attending. Unfortunately we cannot split individual days and must charge for the entire block. Children attending cost only $50 per day.
			</p>
			<br>
			<p>
				Financial assistance is provided on an on-need basis. Please comtact us at <a href='mailto:eastbay.atc@rbcca.org'>eastbay.atc@rbcca.org</a> if you would like more details.
			</p>

			<hr>
			
			<form action="/step2/{{count}}/{{token}}" method="POST">
				<input name='user_token' value="{{token}}" hidden></input>
				<input name='user_count' value="{{count}}" hidden></input>
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_4RfmKWmuQPmntloRX8x4xKIH"
			    data-amount="{{167.0 * count * 100}}"
			    data-name="East Bay ATC"
			    data-description="April 2018 Cluster Retreat"
			    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
			    data-locale="auto">
			  </script>
 		

			</form>

		</div>
		<div class='col-md-6'>
			<img src='/static/bosch6.jpg' width=100%></img>
		</div>
	</div>
</div>

</body>

</html>
